body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none !important;
}

form {
  max-width: 400px;
  margin: 20px auto;
}

.search-bar {
  margin: 0 auto;
  max-width: 400px;
}

.search-bar Input {
  margin: 2em 0;
}

.btn-round {
  margin: 20px auto;
}
